
$thumb-width: 200px;

.results{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    figure {
        margin-bottom: 50px;

        img {
            width: $thumb-width;
        }
    }
    .filler {
        width: $thumb-width;
    }
}